*,*::after,*::before {
  box-sizing: border-box;
}

body{
    margin: 0;
}

[data-expandable] [data-expand-text]{
    --lines-height: 1.5;
    --lines-to-show: 3;
    position: relative;
    box-sizing: border-box;
    line-height: var(--lines-height);
    overflow: hidden;
    height: calc(var(--lines-height) * var(--lines-to-show) * 1em);
}

[data-overflow="false"] [data-expand-text]{
    height: initial;
}

[data-expandable].expanded [data-expand-text]{
    height: initial;
}

[data-overflow="false"] [data-expand-button]{
    display: none;
}

[data-expandable] [data-expand-text]::before{
    --color-background-primary: hsla(0, 0%, 100%, 0.705);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, var(--color-background-primary));
}

[data-overflow="false"] [data-expand-text]::before,
[data-expandable].expanded [data-expand-text]::before{
    background: initial;
}




.title{
    margin-bottom: 1em;
    margin-left: 100px;
}

.text{
    width: 80%;
    font-size: 1em;
    margin-left: 100px;
    margin-bottom: 50px;
}

.btn{
    margin-left: 500px;
    cursor: pointer;
}

